<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">About us</h1>
        <div class="row center" ng-model="emp">
            <h5 class="header col s12 light">A modern responsive front-end framework BY:{{emp.Page}}</h5>
        </div>
        <div class="row center">
            <a href="" id="download-button" class="btn-large  waves-effect waves-light  deep-orange darken-1">Get Started</a>
        </div>
        <br><br>
    </div>
</div>
